<ion-header>
  <ion-toolbar>
    <ion-title>
      Admin
    </ion-title>
    <!--<img src="assets/images/logoMobUTEQ.png" alt="Logo" class="img-logo mobile-only"/>-->
    <ion-buttons slot="end" class="desktop-only">
      <ion-button (click)="goToHomePage()">
        Inicio
      </ion-button>
      <ion-button (click)="goToAdminPage()" >
        Admin
      </ion-button>
      <ion-button (click)="goToMyProfilePage()">
        Perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-button aria-label="Agregar nuevo usuario" (click)="goToAdminAddUserPage()" color="secondary">
          Agregar
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
    <strong>Lista de usuarios </strong>
    <p>Desliza para ver opciones</p>
    <ion-list [inset]="true">
      <ion-item-sliding *ngFor="let user of users">
        <ion-item [button]="true">
          <ion-label>{{user.email}}</ion-label>
          <ion-icon name="chevron-back-outline" style="color:#b0b0b0"></ion-icon>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="tertiary" (click)="updateUser(user.id, user.email, user.rol._path.segments[1], user.username)">
            <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  </div>
</ion-content>

<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabService.selectedTab">
      <ion-segment-button value="home" (click)="goToHomePage()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin" (click)="goToAdminPage()" >
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" (click)="goToMyProfilePage()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

