<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end" class="desktop-only">
      <ion-button (click)="goToHomePage()">
        Inicio
      </ion-button>
      <!-- Se valida que si es un usuario con rol Admin, puede ver la opcion de Admin -->
      <ion-button (click)="goToAdminPage()" *ngIf="rol === 'MUfpN71zhd1E001jtRvn'">
        Admin
      </ion-button>
      <ion-button (click)="goToMyProfilePage()">
        Perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <strong>Has inciado sesion</strong>
    <p>Bienvenido</p>
  </div>
</ion-content>

<ion-footer class="mobile-only">
  <ion-toolbar>
    <ion-segment [(ngModel)]="tabService.selectedTab">
      <ion-segment-button value="home" (click)="goToHomePage()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <!-- Se valida que si es un usuario con rol Admin, puede ver la opcion de Admin -->
      <ion-segment-button value="admin" (click)="goToAdminPage()" *ngIf="rol === 'MUfpN71zhd1E001jtRvn'">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profile" (click)="goToMyProfilePage()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
