<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--<strong>Hola Mundo</strong>
    <p><ion-button (click)="mostrarInfo()">Mostrar Info</ion-button></p>
    <div *ngIf="estaMostrandoInfo">
      <p >Hi!!, ¡Rogelio Gudiño de León!, well done!! </p>
    </div>-->
    

    <div>
      <div>
        <div >
          <ion-row class="register-container">
            <ion-col  size-md="6" size-sm="12" size-lg="4">
        <ion-card >
          <ion-card-header color="secondary">
            <ion-card-title>Login</ion-card-title>
            <ion-card-subtitle>Ingresa tus datos</ion-card-subtitle>
          </ion-card-header>  
          <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input formControlName="username" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>
              </ion-list>
              <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Iniciar sesion</ion-button>
              <ion-button expand="full" color="warning" (click)="goToRegisterPage()">Registrarse</ion-button>
            </form>
          </ion-card-content>
        </ion-card> 
       </ion-col>
     </ion-row>
    </div>
      </div>
    </div>
  </div>
</ion-content>
